<div class="results">
  <div class="results-header centered">

    <p><%= @description %></p>

    <%= form_for @subscription, url: subscribe_url, html: { method: 'post' } do |f| %>
      <div class='form-group col-xs-4'>
        <%= f.label 'species' %>
        <%= f.text_field 'species', class: 'form-control', readonly: true %>
      </div>
      <div class='form-group col-xs-4'>
        <%= f.label 'gender' %>
        <%= f.text_field 'gender', class: 'form-control', readonly: true %>
      </div>
      <div class='form-group col-xs-4'>
        <%= f.label 'found_since' %>
        <%= f.text_field 'found_since', class: 'form-control', readonly: true %>
      </div>

      <div class='form-group col-xs-6'>
        <%= f.label 'email' %>
        <%= f.email_field 'email', class: 'form-control' %>
      </div>
      <div class='form-group col-xs-6'>
        <%= f.label 'phone', 'Phone (US only)' %>
        <%= f.phone_field 'phone', class: 'form-control', placeholder: '555-555-5555' %>
      </div>

      <%= f.submit "Subscribe to this Feed", class: "btn btn-primary" %>
    <% end %> 

  </div>
  <div class="results-grid"> 
    <table class="table table-responsive">
      <% @pets.each do |pet| %>
      <tr>
        <td width=200px >
          <%= link_to show_path(pet) do %>
            <%= image_tag pet.image, class:'pet-image' %>
          <% end %>
        </td>
        <td>
          <h5>
            <%= link_to show_path(pet) do %>
              <%= "#{pet.color} #{pet.gender} #{pet.breed}".titleize %>
            <% end %>
          </h5>
          <% unless pet.found_on.nil? %>
            <p>Found <%= pluralize(pet.found_days_ago, 'day') %> ago (<%= pet.found_on.strftime("%b %-d") %>)</p>
          <% end %>
          <p></p>
        </td> 
      </tr>
      <% end %>
    </table>
  </div>
</div>
