<div class= "container">
	<div class= "subscription-form">
		<h2 class="call-to-action centered">Get Alerts for this Search</h2>
		<p class= "centered">
			Receive alerts by email or text message when a new pet matching this search is posted.
		</p>

		<%= form_for @subscription, url: subscribe_url, html: { method: 'post' } do |f| %>

		<div class='subscription-readonly-input'>
			<%= f.label 'species', 'species:' %>
			<%= f.text_field 'species', class: 'form-control', readonly: true, placeholder: 'view all' %>
		</div>
		<div class='subscription-readonly-input'>
			<%= f.label 'gender', 'gender:' %>
			<%= f.text_field 'gender', class: 'form-control', readonly: true, placeholder: 'view all' %>
		</div>
		<div class='subscription-readonly-input'>
			<%= f.label 'found', 'found:' %>
			<%# subscription doesn't need this value as it only applies to future posts%>
			<%= f.text_field 'found_since', class: 'form-control', readonly: true, disabled: true, placeholder: 'view all' %>
		</div>

		<div class='subscription-input'>
			<%= f.label 'Sign up for email alerts' %>
			<%= f.email_field 'email', class: 'form-control', placeholder: 'you@example.com'  %>
		</div>
		<div class='subscription-input'>
			<%= f.label 'phone', 'Sign up for text message alerts (US only)' %>
			<%= f.phone_field 'phone', class: 'form-control', placeholder: '555-555-5555' %>
		</div>

		<%= f.submit "Submit", class: "submit-button" %>

		<p class= "centered">Cancel an alert any time by <%= link_to 'clicking here', unsubscribe_url %>.</p>
		<% end %>
	</div>
</div>


<div class= "second-form-background">
	<div class= "container">
		<div class="search-results-wrapper">
			<h2 class="call-to-action centered">Search Results</h2>

			<%= will_paginate @pets %>
			<table class="results-table">
				<% @pets.each do |pet| %>
				<tr class= "result-each">
					<td class= "result-image">
						<%= link_to show_path(pet) do %>
						<%= image_tag pet.image, class: 'pet-image' %>
						<% end %>
					</td>
					<td>
						<h5>
							<%= link_to show_path(pet), class: 'btn-link' do %>
							<%= "#{pet.color} #{pet.gender} #{pet.breed}".titleize %>
							<% end %>
						</h5>
						<% unless pet.found_on.nil? %>
						<p>Found <%= pluralize(pet.found_days_ago, 'day') %> ago (<%= pet.found_on.strftime("%b %-d %y") %>)</p>
						<% end %>
					</td>
				</tr>
				<% end %>
			</table>
			<%= will_paginate @pets %>

		</div>
	</div>
</div>
