<div class="results">
  <div class="results-header centered">

    <p><%= @description %></p>
    <button class="btn btn-primary" data-toggle="modal" data-target=".subscription-modal">Subscribe to this Feed</button>

    <div class="modal fade subscription-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div id="modal-error"></div>
          <%= form_for @subscription, url: { action: 'subscribe' }, html: { method: 'post' } do |f| %>
          <%= f.hidden_field 'species' %>
          <%= f.hidden_field 'gender' %>
          <%= f.hidden_field 'found_since' %>

          <div class='form-group'>
            <%= f.label 'email' %>
            <%= f.email_field 'email', class: 'form-control' %>
          </div>
          <div class='form-group'>
            <%= f.label 'phone' %>
            <%= f.phone_field 'phone', class: 'form-control' %>
          </div>

          <%= f.submit "Subscribe", class: "btn btn-primary" %>
          <% end %> 
        </div>
      </div>
    </div>
  </div>
  <div class="results-grid"> 
    <table class="table table-responsive">
      <% @pets.each do |pet| %>
      <tr>
        <td width=200px >
          <%= link_to show_path(pet) do %>
            <%= image_tag pet.image_url, class:'pet-image' %>
          <% end %>
        </td>
        <td>
          <h5><%= "#{pet.color} #{pet.gender} #{pet.breed}".titleize %></h5>
          <p>Found <%= pluralize(pet.found_days_ago, 'day') %> ago (<%= pet.found_on.strftime("%b %-d") %>)</p>
          <p></p>
        </td> 
      </tr>
      <% end %>
    </table>
  </div>
</div>
