<%= form_for @subscription, url: { action: 'results' }, html: { method: 'get', id: 'temp_new_subscription' } do |f| %>
<div class= "container">
  <div class="wide-layout centered">
    <div class="row">

      <div class="col-xs-4">
        <div class='pet-icon dog-icon' data-species='dog'></div>
      </div>

      <div class="col-xs-4">
        <div class='pet-icon cat-icon' data-species='cat'></div>
      </div>

      <div class="col-xs-4">
        <div class='pet-icon other-icon' data-species='other'></div>
      </div>
      
    </div>
  </div>
</div>

<div class= "search-form">
  <div class= "container">

      <div class="collapse" id="hidden-form">
        <%= f.hidden_field 'species' %>

        <div class='has-feedback'>
          <%= f.label :found_since, 'Select Date and Gender (optional)' %>
          <%= f.text_field :found_since, class: 'form-control ', placeholder: 'Date Lost' %>
          <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
        </div>

          <div class="btn-group male-female-search" data-toggle="buttons">
            <label class="btn btn-default">
              <input type="radio" name="subscription[gender]" value="male"> Male
            </label>
            <label class="btn btn-default">
              <input type="radio" name="subscription[gender]" value="female"> Female
            </label>
          </div>

        <div class="actions">
          <%= f.submit "Search", disabled: true, class: "search-button" %>
        </div>

      </div>
  </div>
</div>

<% end %>