<div class="container">
  <div class = "wide-layout">
    <div class="centered">
      <div class="show-single-result">
        <h3 class="pet-current-location">Currently located at: <a href="<%= @pet.shelter.map_link %>"><%= @pet.shelter %> (map)</a></h3>
        <p class= "pet-id-number">
          Contact the animal shelter directly for further information on this pet and
          reference pet identifier '<%= @pet.pet_id %>'.
        </p>

        <% if @back_url.present? %>
        <%= link_to 'Return to Results', @back_url, class: 'btn btn-default' %>
        <% end %>


        <div class="show-single-result-copy">
          <h4><%= "#{@pet.gender} #{@pet.species}".titleize %></h4>
          <p>Found: <%= @pet.found_on.strftime("%B %d, %Y") %></p>
          <p>Breed guess: <%= @pet.breed %></p>
          <p>Color: <%= @pet.color %></p>
        </div>
        <img src="<%= @pet.image %>" class= "responsive-pet-icon"/>
      </div>
    </div>
  </div>          
</div>
</div>