<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Currently located at: <a href="<%= @pet.shelter.map_link %>"><%= @pet.shelter %> (map)</a></h3>
  </div>
  <p class="panel-body">
    For further information on this pet, contact the animal shelter and
    reference pet identifier '<%= @pet.pet_id %>'.
  </p>
</div>

<div class="container-fluid">
  <div class="row">
    <div class=".col-xs-12 .col-sm-6 .col-md-8">
      <div class="thumbnail">
        <div class="caption">
          <h4><%= "#{@pet.gender} #{@pet.species}".titleize %></h4>
          <p>Breed guess: <%= @pet.breed %></p>
          <p>Color: <%= @pet.color %></p>
          <p>Found: <%= @pet.found_on %></p>
        </div>
        <img src="<%= @pet.image %>"/>
      </div>
    </div>          
  </div>
</div>