<!-- individual pet view -->


<form><a href="search" class="btn btn-info btn xs" role="button">Back</a></form>

<!-- <a href="" class="btn btn-info btn xs" role="button">List</a>

<a href="#" class="btn btn-info btn xs" role="button">Next</a>
</br> -->

<div class="container-fluid">
  <div class="row">
    <div class=".col-xs-12 .col-sm-6 .col-md-8">
      <div class="thumbnail">
        <div class="caption">
            <h4><%= @pet.name %></h4>
              <p> <%= @pet.name %> is a <%= @pet.gender %> <%= @pet.species %> found on <%= @pet.found_on %></p>
          </div>
        <img src= <%= @pet.image %>
        </div>
      </div>          
    </div>
  </div>
</div>