<%= link_to "Previous", :back, class: "btn btn-info btn xs" %>

<div class="container-fluid">
  <div class="row">
    <div class=".col-xs-12 .col-sm-6 .col-md-8">
      <div class="thumbnail">
        <div class="caption">
          <h4><%= "#{@pet.gender} #{@pet.species}".titleize %></h4>
          <p>Breed guess: <%= @pet.breed %></p>
          <p>Color: <%= @pet.color %></p>
          <p>Found: <%= @pet.found_on %></p>
          <p>Currently located at: <a href="<%= @pet.shelter.map_link %>"><%= @pet.shelter %></a></p>
          
        </div>
        <img src="<%= @pet.image %>"/>
      </div>
    </div>          
  </div>
</div>