<div class="container">
  <div class = "main-form-first">
    <div class="centered">
      <h3 class="pet-current-location">Currently located at: <a href="<%= @pet.shelter.map_link %>"><%= @pet.shelter %> (map)</a></h3>
      <p class= "pet-id-number">
        Contact the animal shelter directly for further information on this pet and
        reference pet identifier '<%= @pet.pet_id %>'.
      </p>

      <% if @back_url.present? %>
      <%= link_to 'Return to Results', @back_url, class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</div>

<div class= "second-form-background">
  <div class="container">
    <div class= "main-form-first">
      <div class="show-single-result">
       <div class="show-single-result-copy">
        <h4><%= "#{@pet.gender} #{@pet.species}".titleize %></h4>
        <p>Found: <%= @pet.found_on.strftime("%B %d, %Y") %></p>
        <p>Breed guess: <%= @pet.breed %></p>
        <p>Color: <%= @pet.color %></p>
        <p class= "pet-id-number-highlight">Pet Identifier:  '<%= @pet.pet_id %>'</p>
      </div>
      <img src="<%= @pet.image %>" class= "responsive-pet-image"/>
    </div>
  </div>          
</div>
</div>