<div class="col-md-4 col-md-offset-4 main-page">
  <br />
  <%= form_tag do %>
  <div class="main-form-first">
    <h2>I lost my...</h2>
    <div class="row" id="species">
      <%= image_tag "doglogo.png", data: { toggle: "collapse", target: "#dogform"} %>
      <%= image_tag "catlogo.png", data: { toggle: "collapse", target: "#catform"} %>
      <%= image_tag "otherlogo.png", data: { toggle: "collapse", target: "#otherform"} %>
      <br />
      <br />
    </div>
  </div>
  <br />
  
  <div class="collapse" id="dogform">
    <h3>Dog</h3>
    <%= hidden_field_tag 'species', 'dog' %>
    <%= render "main_form" %>
  </div>
  <div class="collapse" id="catform">
    <h3>Cat</h3>
    <%= hidden_field_tag 'species', 'cat' %>
    <%= render "main_form" %>
  </div>
  <div class="collapse" id="otherform">
    <h3>Other</h3>
    <%= hidden_field_tag 'species', 'other' %>
    <%= render "main_form" %>
  </div>
  <br />
  <div class="actions">
    <%= submit_tag "Search", class: "btn btn-warning btn-lg btn-block" %>
  </div>
<% end %>
</div><!--/row-->
